body{
  background-color:#FAF8F8;
  margin-top: 10px;
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
width: 80%;
min-height: 600px;
grid-template-areas:
"h h"
"n c"
"r c"
"f f";
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

.app-wrapper-content{
    grid-area: c;
    background-color: #FAF8F8;
border-radius: 10px; 
padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

